@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    background-color: #0a0a0a;
    color: #e0e0e0;
    font-family: 'Oswald', sans-serif;
  }
}

@layer components {
  .ton-border { 
    border-color: #2ecc71; 
  }
  .ton-text-glow { 
    text-shadow: 0 0 10px rgba(46, 204, 113, 0.6); 
  }
  .nav-link { 
    transition-property: color, text-shadow;
    transition-duration: 300ms;
  }
  .nav-link:hover { 
    color: #2ecc71;
    text-shadow: 0 0 5px #2ecc71; 
  }
  .bg-vignette {
    background: radial-gradient(circle, rgba(27,77,62,0.2) 0%, rgba(10,10,10,1) 80%);
  }
}